.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

/* Heatmap colors */
.react-calendar-heatmap { max-width: 1400px; }
.react-calendar-heatmap .color-scale-1 { fill: #d6e685; cursor: pointer; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; cursor: pointer; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; cursor: pointer; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; cursor: pointer; }
.react-calendar-heatmap .color-bordered { stroke: #ffd700; stroke-width: 2px; }
