.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

/* Heatmap colors */
.react-calendar-heatmap { width: 100% !important; height: 100% !important; }
.react-calendar-heatmap .color-empty { fill: #eee; }
.react-calendar-heatmap .color-scale-1 { fill: #c6e48b; }
.react-calendar-heatmap .color-scale-2 { fill: #7bc96f; }
.react-calendar-heatmap .color-scale-3 { fill: #239a3b; }
.react-calendar-heatmap .color-scale-4 { fill: #196127; }
